

body {
    background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.delete-form {
    display: inline;
}

h1 {
    text-align: center;
    margin-bottom: 1.5em;
    
}

h4 {
    text-align: center;
    color: azure;
}

button {
    margin: 1em;
}

.show {
    color: ivory;
    background-color: black;
    opacity: 0.7;
    margin: 3em;
    margin-left: 15em;
    margin-right: 15em;
    padding-left: 9em;
    padding-right: 9em;
    padding-bottom: 2em;
}

p {
    padding: .6em;
    font-size: 1.5em;
}
