<%- include('../partials/header-form') %>

<div class="container-fluid">
    <div class="row form-header" style="justify-content: center;">        
        <div  class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
            <form action="/cultural" method="post">
                <h1 style="text-align: center">	Create a new event</h1>
				<div class="form-group">
					<input class="form-control" type="text" name="name" placeholder="Name">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="venue" placeholder="Venue">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="date" placeholder="Date(DD/MM/YYYY)" >
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="description" placeholder="Description">
				</div>
				<div class="form-group">
					<input class="form-control" type="url" name="registration_link" placeholder="Registration link">
				</div>
				<div class="form-group">	
					<button class="btn btn-lg btn-primary btn-block">
						Submit!
					</button>
				</div>	
			</form>
		<h4>	<a style="color: black" href="/cultural">Go Back</a> </h4>
		</div>
	</div>
</div>

 <%- include('../partials/footer') %>
